<%= "Current Name: #{@recipe.name}" %>
<%= "Current Ingredients: #{@recipe.ingredients}" %>
<%= "Current Cook Time: #{@recipe.cook_time}" %>

<form method="post" action="/recipes/:id">
  <input type="hidden" id="hidden" name="_method" value="patch"/>
  <label for="name">Name:</label>
  <input type="text" name="name"/>
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients"/>
  <label for="cook_time">Cook Time:</label>
  <input type="text" name="cook_time"/>
  <input type="submit" name="submit" value="submit" id="Submit"/>
</form>